<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- TP3! -->

    <!--<bean id="livraisonClassique" class="entity.LivraisonClassique">
        <property name="delaiMoyenJours" value="3"/>
    </bean>
    <bean id="livraisonDrone" class="entity.LivraisonDrone"/>

    <bean id="optRetour" class="entity.OptionRetour">
        <property name="nbJoursRetour" value="30"/>
    </bean>
    <bean id="optPrime" class="entity.OptionPrime">
        <property name="avecAbonnement" value="true"/>
    </bean>

    <bean id="magasin" class="entity.MagasinEnLigne">
        <constructor-arg value="Amazon"/>
        <property name="livraison" ref="livraisonClassique"/>

        <property name="options">
            <list>
                <ref bean="optRetour"/>
                <ref bean="optPrime"/>
            </list>
        </property>
    </bean>-->

    <!-- TP4! -->

    <!--<bean id="ref" class="entity.Reference">
        <property name="siret" value="765444"/>
    </bean>
    <bean id="adresse" class="entity.Adresse">
        <property name="rue" value="6 rue"/>
        <property name="ville" value="Versailles"/>
    </bean>

    <bean id="id" class="entity.Identite" autowire="byType"/>
    <bean id="fournisseur" class="entity.Fournisseur" autowire="constructor">
        <property name="nom" value="Auchan"/>
    </bean>
    <bean id="application" class="entity.Application" autowire="byName"/>-->


</beans>
